<div class='container container-fluid mt-5'>
    <div class='row'>
        <div class='col'>
            <div class='row'>
                <div class='row' id="newContactHeader">
                    <div>
                        <h2>Contact Details</h2>
                    </div>
                    <div>
                        <button class='btn btn-warning'>
                            <a href='/addressbook/'>Return to Contact List</a>
                        </button>
                    </div>
                </div>
                <form class='row g-3 new-contact-form'>
                    <div class='col-md-6'>
                        <label for='inputFirstName' class='form-label'>First Name</label>
                        <input type='text' class='form-control' id='inputFirstName' value='{{firstName}}' />
                    </div>
                    <div class='col-md-6'>
                        <label for='inputLastName' class='form-label'>Last Name</label>
                        <input type='text' class='form-control' id='inputLastName' value='{{lastName}}' />
                    </div>
                    <div class='col-12'>
                        <label for='inputPhone' class='form-label'>Phone Number</label>
                        <input type='text' class='form-control' id='inputPhone' placeholder=''
                            value='{{phoneNumber}}' />
                    </div>
                    <div class='col-12'>
                        <label for='inputAddress' class='form-label'>Address</label>
                        <input type='text' class='form-control' id='inputAddress' placeholder=''
                            value='{{addressLine1}}' />
                    </div>
                    <div class='col-12'>
                        <label for='inputAddress2' class='form-label'>Address 2</label>
                        <input type='text' class='form-control' id='inputAddress2' placeholder=''
                            value='{{addressLine2}}' />
                    </div>
                    <div class='col-md-6'>
                        <label for='inputCity' class='form-label'>City</label>
                        <input type='text' class='form-control' id='inputCity' value='{{addressCity}}' />
                    </div>
                    <div class='col-md-4'>
                        <label for='inputState' class='form-label'>State</label>
                        <input type='text' class='form-control' id='inputState' value='{{addressState}}' />
                        </select>
                    </div>
                    <div class='col-md-2'>
                        <label for='inputZip' class='form-label'>Zip</label>
                        <input type='text' class='form-control' id='inputZip' value='{{addressZip}}' />
                    </div>
                    <div class='col-12'>
                        <button type='submit' class='btn btn-primary submit-button' data-id='{{id}}'>Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src='/js/newContact.js'></script>